.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logon-container .logo {
  height: 7rem;
  width: 100%;
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin: 30px;
}

.logon-container section.form form {
  margin-top: 100px;
  text-align: center;
}

.logon-container .heroes {
  width: 50%;
  animation: go-right-left 1s ease-in-out;
}

@media (max-width: 768px) {
  .logon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logon-container .logo {
    width: 100%;
    margin: auto;
  }

  .logon-container .heroes {
    display: none;
  }
}